{% extends 'houtai.html' %}
{% block title %}后台用户信息{% endblock %}
{% block rightbody %}
<div class="panel panel-default">
	<h2>后台用户列表</h2>
	<table class="table">
		<tr>
			<td>账号</td>
			<td>姓名</td>
			<td>权限</td>
			<td>加入时间</td>
			<td>状态</td>
			
		</tr>
		{% for u in buser %}
		<tr>
			<td>{{u.username}}</td>
			<td>{{u.name}}</td>
			<td>{%for p in u.permisson.select_related%}{{p.name}} {%endfor%}</td>
			<td>{{u.createtime}}</td>
			<td>{% if u.is_active%}启用{%else%}停用{%endif%}</td>
		</tr>
		{% endfor %}
	</table>
</div>
{% endblock %}