{% extends 'index.html' %}
{% block title %}结帐{% endblock %}
{% block noheader %}
<!-- BEGIN SHIPPING ADDRESS -->
                  <div class="panel-body row">
                  <form action="/pay/" method="post">{% csrf_token %}
                     <div class="form-group">
                        <h3>订单号：{{oid}}</h3>
                        
                      </div>
                    <div class="col-md-6 col-sm-6">
                      <h3>收货人信息</h3>
                      <a href="" _blank>新增</a>
                      <div class="form-group">
                        <label for="firstname-dd">收货人<span class="require">*</span></label>
                        <input type="text" id="firstname-dd" class="form-control" name="name">
                      </div>
                      <div class="form-group">
                        <label for="lastname-dd">收货地址<span class="require">*</span></label>
                        <input type="text" id="lastname-dd" class="form-control" name="addr">
                      </div>
                      <div class="form-group">
                        <label for="email-dd">邮编<span class="require">*</span></label>
                        <input type="text" id="email-dd" class="form-control" name="code">
                      </div>
                      <div class="form-group">
                        <label for="telephone-dd">电话 <span class="require">*</span></label>
                        <input type="text" id="telephone-dd" class="form-control" name="tel">
                      </div>
                      <div class="form-group">
                        <label for="fax-dd">备注</label>
                        <textarea id="fax-dd" class="form-control"  name="beizhu"></textarea>
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                       <div class="form-group">
                        <label for="fax-dd">购物信息</label>
                           <div class="shopping-cart-page">
              <div class="shopping-cart-data clearfix">
                <div class="table-wrapper-responsive">
                <table summary="Shopping cart">
                  <tr>
                    <th class="shopping-cart-description">名称</th>
                    <th class="shopping-cart-quantity">数量</th>
                    <th class="shopping-cart-price">价格</th>
                    <th class="shopping-cart-total">小计</th>
                  </tr>
                  {% for item in cart.items %}
                  <tr>
                    <td class="shopping-cart-description">
                      <h3><a href="#">{{item.good.name}}</a></h3>
                    </td>
                    <td class="shopping-cart-quantity">
                      <div class="product-quantity">
                          <input  type="text" value="{{item.count}}" readonly class="form-control input-sm">
                      </div>
                    </td>
                    <td class="shopping-cart-price">
                      <strong><span>$</span>{{item.price}}</strong>
                    </td>
                    <td class="shopping-cart-total">
                      <strong><span>$</span>{% widthratio item.count 1 item.price %}</strong>
                    </td>

                  </tr>
                  {% endfor %}
                </table>
                </div>

                <div class="shopping-total">
                  <ul>
                    <li class="shopping-total-price">
                      <em>总计</em>
                      <strong class="price"><span>￥</span>{{cart.total_price}}</strong>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
                      </div>                   
                      <div class="form-group">
                        <label for="region-state-dd">付款方式<span class="require">*</span></label>
                        <select class="form-control input-sm" id="paymethod" name='pay'>
                          <option value=""> --- 请选择付款方式 --- </option>
                          {% for p in pays %}
                          <option value="{{p.id}}">{{p.pay_name}}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <button class="btn btn-primary  pull-right" type="submit" id="button-shipping-address" data-toggle="collapse" data-parent="#checkout-page" data-target="#shipping-method-content">确认</button>
                    </div>
                    </form>
                  </div>
              <!-- END SHIPPING ADDRESS -->
{% endblock %}
{% block js %}{% endblock %}